uvicorn
openai
sentence-transformers
python-multipart
langchain
pinecone-client
python-dotenv
tiktoken
ptvsd
fastapi
pydantic
google-search-results
numexpr
huggingface_hub
pgvector
psycopg
protobuf
sqlalchemy
sqlalchemy.orm
pandas